  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Count</th>
        <th>Postion</th>
      </tr>
    </thead>
    <tbody>
      <% i = 1 %>
      <% @areplaylist.playlist_tracks.each do |track| %>
        <tr>
          <th scope="row"><%= i %></th>
          <td><%= track.track.name%></td>
          <td><%= track.copies%></td>
          <td><%= track.positions%></td>
        </tr>
        <% i += 1 %>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Remove Duplicates', playlist_path, method: 'delete'  %>
