<!DOCTYPE html>
<html>
<head>
  <title>SpotlessApp</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One|Candal' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<header>
</header>
<body>
  <% if @current_user %>
    <ul id="slide-out" class="side-nav fixed #212121 grey darken-4">
      <%= link_to @user.username, user_path(@user), :id =>'nav-username' %>
      <li>
        <%= link_to "#{image_tag('logoutbutton.png')}".html_safe, logout_path, class:'col-sm-10 col-sm-offset-1' %>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Duplicate Playlists<i class="mdi-navigation-arrow-drop-down"></i></a>
            <div class="collapsible-body">
              <ul>
                <% @user.playlists.each do |playlist| %>
                  <% if playlist.has_dup %>
                    <li class="dup">
                      <pre>
                        <%=link_to playlist.name, playlist_path(playlist)%>
                      </pre>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">All Playlists<i class="mdi-navigation-arrow-drop-down"></i></a>
            <div class="collapsible-body">
              <ul>
                <% @user.playlists.each do |p| %>
                  <li>
                    <pre class="list-text">
                      <%= link_to p.name, playlist_path(p) %>
                    </pre>
                  </li>
                <%end %>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  <% end %>
  <% flash.each do |key, value| %>
    <% if key == "alert" %>
      <%= content_tag :div, value, class: "text-center alert alert-danger" %>
    <% else %>
    <%= content_tag :div, value, class: "text-center alert alert-success" %>
    <% end %>
  <% end %>
  <%= yield %>
</body>
<script type="text/javascript">
</script>

</html>
