<!DOCTYPE html>
<html>
<head>
  <title>SpotlessApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<header>
  <div class="container">
  <div class="row">
      <div class="col">

    </div>
  </div>
</header>

<body>
  <div class="cotainer">
      <% flash.each do |key, value| %>
        <% if key == "alert" %>
          <%= content_tag :div, value, class: "text-center alert alert-danger" %>
        <% else %>
          <%= content_tag :div, value, class: "text-center alert alert-success" %>
        <% end %>
      <% end %>
      <%= yield %>
  </div>
</body>
<script type="text/javascript">
  $(function() {
    setTimeout(function() {
        $(".alert").hide()
    }, 3000);
  });
</script>

</html>
